.cartContainer {
  position: absolute;
  top: 108px;
  right: 78px;
  background-color: var(--white);
  box-shadow: 0px 16px 32px #0005;
  border-radius: var(--border-radius);
  z-index: 1;
}

.cartHeader {
  padding: 1rem 1rem 1.5rem;
  border-bottom: 2px solid #0000001a;
  font-weight: 700;
  color: var(--dark-blue);
}

.cartBodyEmpty {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 355px;
  min-height: 200px;
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.cartBodyNotEmpty {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.checkoutButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border-radius: var(--border-radius);
}

@media (max-width: 450px) {
  .cartContainer {
    position: fixed;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
}

@media (max-width: 400px) {
  .cartContainer {
    top: 65px;
  }
}

@media (max-width: 390px) {
  .cartContainer {
    font-size: 14px;
  }
}
