.pageContainer {
  display: flex;
}

.pageColumn {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****** Image area ******/

.imageContainer {
  border-radius: 14px;
}
.activeImageContainer {
  border: 2px solid var(--orange);
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.activeImage {
  opacity: 0.5;
}

.smallImagesRow {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.smallImagesRow img {
  height: 100%;
}

/****** product details area ******/

.productDetailsContainer {
  border: solid;
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
}
.quantityButtonRow {
  display: flex;
  flex: 2;
  border: solid var(--light-gray-blue);
  border-radius: 12px;
}
.quantityThird {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray-blue);
}
.addToCartButton {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--white);
  font-weight: 700;
  background-color: var(--orange);
  border-radius: 12px;
}

@media (max-width: 880px) {
  .pageContainer {
    display: block;
  }
  .buttonContainer {
    flex-direction: column;
  }
}
